.loginPage {
	display: flex;
	flex: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 80px;

	.loginForm {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}

	.additionalInfo {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.infoRow {
			display: flex;
			justify-content: center;
			gap: 4px;
		}

		.link {
			color: var(--colors-interface-accent);
		}
	}
}
