.fillingWrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--offset-base-size) * 4);
	height: 600px;
	min-width: 500px;
	&.dropHover {
		border: 1px solid var(--colors-interface-accent);
	}

	.ingredients {
		width: 600px;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		align-items: center;
		gap: calc(var(--offset-base-size) * 4);
		overflow: auto;
		scrollbar-gutter: stable both-edges;

		.ingredient {
			display: flex;
			align-items: center;
			gap: calc(var(--offset-base-size) * 2);
			width: 100%;
		}
	}
}
