.fillingWrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--offset-base-size) * 4);
	min-width: 500px;
	height: 600px;

	.ingredients {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		align-items: center;
		gap: calc(var(--offset-base-size) * 4);
		width: 600px;
		overflow: auto;
		scrollbar-gutter: stable both-edges;
	}
}
