.modalContainer {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	z-index: 10;

	.modal {
		z-index: 1;
		width: 720px;
		background-color: var(--background);
		border-radius: 40px;

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.closeIcon {
				cursor: pointer;
			}
		}
	}

	.modalOverlay {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100vw;
		height: 100vh;
		background-color: #00000060;
	}
}
