.ingredientCard {
	position: relative;
	display: grid;
	grid-template-rows: 120px 24px 48px;
	justify-content: center;
	gap: 4px;
	max-width: 260px;
	cursor: pointer;

	.price {
		display: flex;
		justify-content: center;
		gap: 8px;
	}

	.name {
		text-align: center;
	}

	.counter {
		position: absolute;
		top: 0;
		right: 0;
	}
}
