a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

p {
	margin: 0;
}

button {
	all: unset;
}

html,
body {
	height: 100%;
	line-height: 0;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}
