.header {
	background-color: var(--background);
	display: flex;
	align-items: center;
	justify-content: center;
	.navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1280px;
		.menuLeft {
			display: flex;
			flex-direction: row;
			gap: 8px;
		}
	}
}
