.header {
	composes: global(p-2);
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--background);
	.navigation {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}
